:root{
--cor-fundo:#DF32CE;
--cor-fundo2:#FF00E6;
--cor-fundo3:#51BBE9;
--cor-fundo4:#A165E8;
--cor-fundo5:#4EBFE9;
--cor-fonte:#FFFFFF;
--cor-fonte2:#000000;
}
.cabecalho{
    background-color: var(--cor-fundo);
    color: var(--cor-fonte) ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.imagem-cabecalho{
    width: 50%;
}
.item-lita-cabecalho{
    display: inline-block;
}