*{
    margin:0;
    padding:0;
}

:root{
--cor-fundo:#DF32CE;
--cor-fundo2:#FF00E6;
--cor-fundo3:#51BBE9;
--cor-fundo4:#A165E8;
--cor-fundo5:#4EBFE9;
--cor-fonte:#FFFFFF;
--cor-fonte2:#000000;
}
.cabecalho{
    background-color: var(--cor-fundo);
    color: var(--cor-fonte) ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    font-size: 20px;
}
.imagem-cabecalho{
    width: 15%;
}
.item-lista-cabecalho{
    display: inline-block;
    margin: 20px;
}
 .escola-imagem{
    width: 15%;
 }
 .escola{
    background-image: linear-gradient(#FF00E6,#51BBE9;)

 }
